<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://projectneo-functions-gvcyd7ahgfe8b5cb.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ddaccaaf-e0b3-4c1d-844f-2f1a47fdc72a/resourceGroups/ProjectNEO-RG/providers/Microsoft.Web/sites/projectneo-functions</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://projectneo-functions-gvcyd7ahgfe8b5cb.scm.centralindia-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>